lightning==2.0.0
omegaconf==2.3.0
jaxtyping
typeguard
diffusers<0.20
transformers==4.28.1
accelerate
opencv-python
tensorboard
matplotlib
imageio>=2.28.0
imageio[ffmpeg]
libigl==2.5.1
xatlas
trimesh[easy]
networkx
pysdf
PyMCubes
wandb
gradio==4.11.0
torchmetrics

# deepfloyd
xformers==0.0.29.post3
bitsandbytes==0.38.1
sentencepiece
safetensors
huggingface_hub==0.24.7

# for zero123
einops
kornia
taming-transformers-rom1504

#controlnet
controlnet_aux

# custom
open3d
numba
tensorflow
gsplat==1.4.0
plyfile
pymeshlab
coacd
pycuda